<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.unirriter.mobile.projaeroup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjAeroUP">
        <activity
            android:name=".ui.TelaAgendaDetalhe"
            android:exported="true" />
        <activity
            android:name=".ui.drawer.TelaBaseDrawer"
            android:exported="true" />
        <activity
            android:name=".ui.TelaAgenda"
            android:exported="true" />
        <activity
            android:name=".ui.TelaBreveDetalhe"
            android:exported="true" />
        <activity
            android:name=".ui.TelaHome"
            android:exported="true" />
        <activity
            android:name=".ui.TelaCadastro"
            android:exported="true" />
        <activity
            android:name=".ui.TelaLogin"
            android:exported="true" />
        <activity
            android:name=".ui.SplashAeroUP"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>